.LandingScreen {
  h1, h2 {
    user-select: none;
  }

  .vx-app-bar {
    .vx-app-bar-item {
      &.vx-launchpad-toggle span {
        font-size: 0;

        &:first-child::before {
          content: "widgets";
          font-size: 18px;
        }

        &:last-child::before {
          content: "Widgets";
          font-size: 13px;
        }
      }
    }
  }

  .LaunchpadScreen {
    position: absolute;
    left: 85px;
    width: 620px;
    height: 500px;
    z-index: 1;

    h1 {
      margin: 5px 10px;
      font-size: 18px;
    }

    h2 {
      margin: 0 10px;
      font-size: 14px;
    }

    .sideMenu, .launchpad-container {
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .sideMenu {
      padding-top: 15px;

      .launchpad-item {
        .launchpad-item-icon {
          font-size: 0.8rem;
        }

        .launchpad-item-favorite {
          font-size: 1rem;
        }
      }
    }

    .launchpad-container {
      padding: 5px;
      position: relative;

      .toggle {
        position: absolute;
        top: 10px;
        right: 10px;
        align-items: center;
        border-radius: 3px;
        border: 1px solid black;
      }

      .launchpad-items {
        padding: 5px;

        .launchpad-item {
          justify-content: space-around;
          margin: 10px;
          height: 8rem;
          width: 9rem;
          border: 1px solid transparent;
          cursor: pointer;

          .launchpad-item-icon {
            font-size: 3rem;
          }

          img.launchpad-item-icon {
            height: 60px;
          }

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .launchpad-items {
      flex-wrap: wrap;
      min-width: min-content;

      .launchpad-item {
        padding: 10px;
        cursor: default;
        user-select: none;
        transition: all .3s ease;

        .launchpad-item-favorite {
          cursor: pointer;
          color: darkgrey;

          &:hover {
            filter: brightness(1.1);
          }

          &.isFavorite {
            color: #e10000;
          }
        }
      }
    }
  }

  .DashboardScreen {
    h1 {
      margin: 0 0 10px;
      font-size: 24px;
    }

    h2 {
      margin: 0;
      font-size: 18px;
    }

    .container {
      border: 1px solid darkgray;
      padding: 10px;

      .analytics {
        padding-top: 10px;
        font-size: 18px;

        .item {
          border: 1px solid darkgray;
          padding: 10px;
        }

        .name {
          font-weight: bold;
        }

        .last {
          font-size: 24px;
        }

        .plus {
          color: green;
        }

        .minus {
          color: red;
        }
      }
    }
  }
}

.theme-light .LandingScreen {
  .LaunchpadScreen {
    box-shadow: 5px 5px 10px #c7cdd3;
  }

  .sideMenu, .launchpad-container {
    border: 1px solid rgba(0, 0, 0, .1);
  }

  .launchpad-container .launchpad-item {
    background-color: #e3e6e8;
    box-shadow: 2px 2px 5px 2px #c7cdd3;

    &:hover {
      background-color: #f4f5f6;
    }
  }

  .launchpad-item:hover {
    background-color: #e3e6e8;
  }
}

.theme-dark .LandingScreen {
  .LaunchpadScreen {
    box-shadow: 5px 5px 10px #0e1114;
  }

  .sideMenu, .launchpad-container {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .launchpad-container .launchpad-item {
    background-color: #212832;
    box-shadow: 2px 2px 5px 2px #0e1114;

    &:hover {
      background-color: #3280aa;
    }
  }

  .launchpad-item:hover {
    background-color: #212832;
  }
}